.main{
    display: flex;
    height: 89vh;
}
/* sidebar css */
.sidebar{
    flex: .2;
    
}
.new-button{
    cursor: pointer;
    box-shadow: 1px 1px 13px -6px black;
    margin: 10px;
    padding: 8px;
    border-radius: 200px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px -3px black;
    
}

.sidebarOptions{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    transition: .2s all ease-in;
    cursor: pointer;
}
.sidebarOptions:hover{
    color: rgb(62, 116, 241);
    background-color: rgb(217, 228, 255);
}
.sidebarOptionsText{
    margin-left:10px ;

}
button {
    height: 30px;
    background-color: rgb(67, 67, 248);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 10px;
  }

/* main files section css */
.home{
    flex: .7;
padding-top: 10px;
    border-right: 1px solid black;
}
.Fileview{
    width: 100%;
}
.files{
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr;
    margin: 20px;

}

a{
    color: black;
    text-decoration: none;
}

.filecard{
    display: flex;
    padding: 10px;

}

.card{
    margin: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius:20px ;
    padding: 10px;
    overflow: hidden;
    height: 200px;
    
}
.card img{
    width: 100%;
    height:80%;
    object-fit: contain;
}

/* sideicons extra css */
.sideicon{
    flex: .1;
}
